<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <ikecode>
    <default>
      <logPath name="logPath">c:\logs</logPath>
    </default>
    <verbose>
      <enabled name="verbose">true</enabled>
    </verbose>
    <exception>
      <enabled name="exception">true</enabled>
    </exception>
    <warning>
      <enabled name="warning">true</enabled>
    </warning>
    <metric>
      <enabled name="metric">true</enabled>
    </metric>
  </ikecode>
</configuration>