<footer class="bg-dark fixed-bottom">
    <nav class="sidebar">
        <ul>
            <li>
                <a class="dropdown-toggle" style="text-align: center; cursor:pointer">
                    2013 - @DateTime.Today.Year, CliniIke © by  <span class="fg-yellow">IkeCode {Smart Solutions}</span>
                </a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li class="bg-dark" style="margin:0;">
                        <div class="container" style="padding: 10px 0;">
                            <div class="grid no-margin">
                                <div class="row no-margin">
                                    <div class="span3 padding10">
                                        <img src="/images/spface.jpg" alt="" class="polaroid">
                                    </div>
                                    <div class="span6 padding10">
                                        <h3 class="fg-white">Sobre o Autor</h3>
                                        <p class="fg-white">Olá! Meu nome é Leandro Barral blablabla.</p>
                                    </div>
                                    <div class="span3 padding10">
                                        <a class="button success" style="width: 100%; margin-bottom: 5px" href="http://ikecode.com">IkeCode</a>
                                        <a class="button info   " style="width: 100%; margin-bottom: 5px" href="http://ikecode.com/support">Support</a>
                                        <a class="button danger" style="width: 100%; margin-bottom: 5px" href="http://youtube.com/user/ikecode">YouTube</a>
                                        <a class="button warning" style="width: 100%; margin-bottom: 5px" href="mailto:ikecode@gmail.com">Mail me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</footer>
