<header class="bg-dark">
    <div class="navigation-bar dark">
        <div class="navigation-bar-content container">

            <a href="/" class="element"><span class="icon-support"></span> IkeMed <sup>0.1</sup></a>
            <span class="element-divider"></span>

            <a class="pull-menu" href="#"></a>
            <ul class="element-menu">
                <li>
                    <a class="dropdown-toggle" href="#">Cadastros</a>
                    <ul class="dropdown-menu dark" data-role="dropdown">
                        <li><a href="@Url.RouteUrl("RegisterPerson")">Pessoas</a></li>
                        <li><a href="#">Procedimentos</a></li>
                    </ul>
                </li>
            </ul>

            <div class="no-tablet-portrait">
                <span class="element-divider"></span>
                <a class="element brand" href="#"><span class="icon-spin"></span></a>
                <a class="element brand" href="#"><span class="icon-printer"></span></a>
                <span class="element-divider"></span>

                <div class="element input-element">
                    <form>
                        <div class="input-control text span4">
                            <input type="text" placeholder="pesquisar por paciente, médico ou prontuario...">
                            <button class="btn-search"></button>
                        </div>
                    </form>
                </div>

                <div class="element place-right">
                    <a class="dropdown-toggle" href="#"><span class="icon-cog"></span></a>
                    <ul class="dropdown-menu place-right dark" data-role="dropdown">
                        <li><a href="#">Configurações</a></li>
                        <li><a href="#">Suporte</a></li>
                    </ul>
                </div>
                <span class="element-divider place-right"></span>
                <button class="element image-button place-right">
                    Leandro Barral
                </button>
            </div>
        </div>
    </div>
</header>