
<nav class="sidebar dark">
    <ul>
        <li class="stick bg-red">
            <a class="dropdown-toggle" href="#"><i class="icon-lightning"></i>Ações</a>
            <ul class="dropdown-menu" data-role="dropdown" style="position:absolute !important;">
                <li><a href="">Salvar</a></li>
                <li><a href="">Excluir</a></li>
                <li><a href="">Copiar</a></li>
            </ul>
        </li>
    </ul>
</nav>
