/* === Back Shade === */
.ikecode-alert-shade.midnight
{
	background: rgba(44, 62, 80, 0.5);
}

/* === Alert, Confirm, Prompt Back === */
.ikecode-alert-alert.midnight
{
	background: #2c3e50;
	color: #ecf0f1;	
}

/* === Notification Back === */
.ikecode-alert-message.midnight
{
	background: #2c3e50;
	color: #fff;
	border: 3px solid #34495e;
}

/* === Buttons === */
.ikecode-alert-alert.midnight .ikecode-alert-foot button
{
	color: #2c3e50;
}