/* === Back Shade === */
.ikecode-alert-shade.blue
{
	background: rgba(52, 152, 219, 0.25);
}

/* === Alert, Confirm, Prompt Back === */
.ikecode-alert-alert.blue
{
	background: #3498db;
	color: #ecf0f1;
}

/* === Notification Back === */
.ikecode-alert-message.blue
{
	background: #3498db;
	color: #ecf0f1;
	border: 3px solid rgba(255,255,255,0.1);
}

/* === Buttons === */
.ikecode-alert-alert.blue .ikecode-alert-foot button
{
	color: #3498db;
}