/* === Back Shade === */
.ikecode-alert-shade.orange
{
	background: rgba(511, 84, 0, 0.10);
}

/* === Alert, Confirm, Prompt Back === */
.ikecode-alert-alert.orange
{
	background: #d35400;
	color: #ecf0f1;	
}

/* === Notification Back === */
.ikecode-alert-message.orange
{
	background: #d35400;
	color: #ecf0f1;
	border: 3px solid #e67e22;
}

/* === Buttons === */
.ikecode-alert-alert.orange .ikecode-alert-foot button
{
	color: #000;
}