/* === Back Shade === */
.ikecode-alert-shade.greensea
{
	background: rgba(0, 0, 0, 0.5);
}

/* === Alert, Confirm, Prompt Back === */
.ikecode-alert-alert.greensea
{
	background: #16a085;
	color: #ecf0f1;	
}

/* === Notification Back === */
.ikecode-alert-message.greensea
{
	background: #16a085;
	color: #ecf0f1;
	border: 3px solid rgba(255,255,255,0.1);
}

/* === Buttons === */
.ikecode-alert-alert.greensea .ikecode-alert-foot button
{
	color: #16a085;
}